.main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content {
  height: 100vh;
  width: calc(100vw - 4rem);
  position: absolute;
  left: 4rem;
}

@media (max-width: 430px) {
  .content {
    width: 100vw;
    left: 0;
  }
}