.content {
  background: transparent;
  padding: 4rem;
}

.container {
  background-color: transparent;
  border: none;
  border-radius: 1.5rem;
  width: 100%
}

.h1 {
  color: var(--soft-black);
  font-size: 2rem;
  font-family: 'Cabin';
  margin: .5rem 0;
}

.h2 {
  color: var(--gray-purple);
  font-weight: normal;
  font-size: 1.25rem;
  font-family: 'Cabin';
  margin: 0 0 1.5rem 0;
}

@media (max-width: 430px) {
  .content {
    padding: 1.5rem;
  }

  .h1 {
    font-size: 1.75rem;
    margin: .25rem 0;
  }
}

.message {
  color: var(--gray-purple);
  display: flex;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: 'Cabin';
  justify-content: center;
  margin: 0 0 1.5rem 0;
  width: 100%;
}