.content {
  background: transparent;
  padding: 4rem;
}

.container {
  background-color: transparent;
  border: none;
  border-radius: 1.5rem;
  width: 100%
}

.containerH1 {
  color: var(--soft-black);
  font-size: 2rem;
  font-family: 'Cabin';
  margin: 0 0 0.5rem 0;
}

.containerH2 {
  color: var(--gray-purple);
  font-weight: normal;
  font-size: 1.25rem;
  font-family: 'Cabin';
}