.chartControlsContainer {
  display: flex;
  height: fit-content;
  justify-content: right;
  margin: 2rem 0;
  width: 100%;
  padding: 1rem;
}

.chartContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.widgetContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: 100%;
  padding: 0;
}

@media (max-width: 430px) {
  .chartContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .widgetContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    height: fit-content;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .chartContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .widgetContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    height: fit-content;
    padding: 0;
  }
}