.chartContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.widgetContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: 100%;
  padding: 0;
}

@media (max-width: 768px) {
  .chartContainer {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .widgetContainer {
    height: fit-content;
  }
}