.bg {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.bgLight {
  background-color: var(--bgGray);
}

.bgOpal {
  background: 
    radial-gradient(
      30vw 30vw at 10vw 10vw, 
      rgba(224, 206, 250, 1),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      30vw 30vw at 50vw 100vh, 
      rgb(165, 193, 244),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      30vw 30vw at 100vw 50vh, 
      rgb(248, 209, 177),
      rgba(0, 0, 0, 0)
    );
}