.container {
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  width: 100%;
}

.header {
  font-size: 1.25rem;
  color: var(--soft-black);
  font-family: 'Cabin';
}

.controlsContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.bgLight {
  background-color: var(--bg-white);
}

.bgOpal {
  background: var(--bg-trans);
}

@media (max-width: 430px) {
  .container {
    height: fit-content;
  }

  .header {
    font-size: 1rem;
  }
  
  .controlsContainer {
    padding: 1rem;
  }
}