.widget {
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  padding: 0 2rem;
  height: 100%
}

.header {
  font-size: 1.25rem;
  color: var(--soft-black);
  font-family: 'Cabin';
  font-weight: bold;
  margin: 2.75rem 0;
}

.content {
  font-size: 3rem;
}